<h1>Edit comment</h1>

<h3>please be polite.</h3>

<%= form_for [@recipe, @comment] do |f| %>
    <%= f.text_area :content, placeholder: 'comment goes here', class: "about-input-field" %>
    <%= f.submit 'Submit', class: 'btn' %>

<% end %>