
<div class="show-content">
    <h1>COOKBOOK</h1>
    <br>
    <div class="feature">
        <%= image_tag @recipe.image, class: 'homepage-img'%>
        <div class="random">
            <h1><%= link_to @recipe.name, recipe_path(@recipe), class: 'homepage-link'%></h1>
        </div>
    </div>
</div>
