<div class="show-content">
    <div class="search">
        <h1>COOKBOOK</h1>
        <%= render 'search/form' %>
    </div>
    <br>
    <div class="feature">
        <%= link_to recipe_path(@recipe) do %>
            <%= image_tag @recipe.image, class: 'homepage-img'%>
        <% end %>
    </div>
</div>


