// all base css
* {
	margin: 0;
	padding: 0;
	font-family: "Anek Odia", sans-serif;
}
textarea {
	resize: none;
}
body {
	max-width: 950px;
	margin: 0 auto;
}
// navigation ------
.navigation {
	display: flex;
	background-color: bisque;
	height: 50px;
	width: 100%;
	justify-content: space-between;
}

.nav-btns,
.session-btns {
	display: flex;
	align-items: center;
}
.session-btns {
	margin-right: 8px;
}
.btn {
	display: flex;
	align-items: center;
	text-decoration: none;
	background-color: rgba(14, 14, 14, 0.845);
	color: bisque;
	padding: 8px;
	padding-bottom: 4px;
	margin-left: 8px;
	border-radius: 8px;
	border: none;
}
// owner nav
.owner-nav {
	display: flex;
	background-color: bisque;
	height: 50px;
	width: 100%;
	justify-content: right;
}
a {
	text-decoration: none;
	background-color: bisque;
	color: rgba(14, 14, 14, 0.845);
	padding: 5px;
	padding-bottom: 0px;
	border-radius: 10px;
}
// recipe buttons
.secondary-nav {
	min-width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// main content container
.container-main {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// recipes index ----
.recipe-content {
	background-color: rgb(59, 59, 59);
	border-radius: 20px;
	margin-bottom: 15px;
	display: grid;
	grid-template-columns: 8fr 5fr;
	box-shadow: 5px 5px 10px 3px rgba(6, 6, 6, 0.576);
}
.recipe-header {
	display: flex;
	justify-content: space-between;
}
.index-img {
	padding: 20px;
	max-width: 80%;
	align-items: right;
	border-radius: 40px;
}
.grid-left {
	color: bisque;
	margin: 20px 0px 0px 20px;
}
.desc-content {
	margin-top: 10px;
}

// recipe show -----

.show-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: rgb(59, 59, 59);
	min-height: 91.5vh;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	color: bisque;
}
.img-show {
	max-width: 75%;
	border-radius: 10px;
}
.lower-grid {
	width: 75%;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.recipe-list,
.recipe-instructions {
	margin-left: 80px;
}
.btn:hover {
	background-color: rgba(49, 49, 49, 0.713);
}

//  form ---
input {
	width: 97%;
	margin: 4px;
	padding: 4px;
	border: 2px solid black;
	font-size: 15px;
}
input[type="submit"] {
	width: fit-content;
	margin-top: 5px;
}
.form-content {
	border-radius: 20px;
}
.about-input-field {
	height: 150px;
	word-wrap: break-word;
	word-break: break-all;
	width: 97%;
	margin: 4px;
	padding: 4px;
	border: 2px solid black;
	font-size: 15px;
}
// profile grid
.profile-grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	background-color: rgb(59, 59, 59);
	min-height: 90vh;
}
.grid-right {
	display: flex;
	justify-content: flex-end;
}
.profile-image {
	margin: 20px;
	max-height: 200px;
	aspect-ratio: 1;
	border-radius: 10px;
}
.profile-header {
	display: flex;
	justify-content: space-between;
}
.timestamp {
	font-size: 13px;
}
