// all base css
* {
	margin: 0;
	padding: 0;
	font-family: "Anek Odia", sans-serif;
}
.material-icons-outlined {
	font-family: "Material Icons";
	font-size: 35px;
}
textarea {
	resize: none;
}
body {
	max-width: 950px;
	margin: 0 auto;
	background-color: rgb(59, 59, 59);
}
h1,
h2,
h3,
p {
	color: bisque;
}
// navigation ------
.navigation {
	display: flex;
	background-color: bisque;
	height: 50px;
	width: 100%;
	justify-content: space-between;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.nav-btns,
.session-btns {
	display: flex;
	align-items: center;
}
.session-btns {
	margin-right: 8px;
}
.btn {
	display: flex;
	align-items: center;
	text-decoration: none;
	background-color: rgba(14, 14, 14, 0.845);
	color: bisque;
	padding: 8px;
	padding-bottom: 4px;
	margin-left: 8px;
	border-radius: 8px;
	border: none;
}
// owner nav
.owner-nav {
	display: flex;
	background-color: bisque;
	height: 50px;
	width: 100%;
	justify-content: right;
}
a {
	text-decoration: none;
	background-color: bisque;
	color: rgba(14, 14, 14, 0.845);
	padding: 5px;
	padding-bottom: 0px;
	border-radius: 10px;
}
// recipe buttons
.secondary-nav {
	min-width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
// homepage feature
.feature {
	width: 90%;
	display: flex;
	justify-content: center;
	position: relative;
}
.homepage-img {
	max-width: 100%;
	max-height: 80vh;
	position: absolute;
	z-index: 999;
	border-radius: 20px;
}

.homepage-link {
	margin-top: 20%;
	padding: 3%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: rgba(255, 228, 196, 0.498);
	border-radius: 30px;
}
.feature:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

// main content container
.container-main {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// recipes index ----
.recipe-content {
	background-color: rgb(59, 59, 59);
	border-radius: 20px;
	margin-bottom: 15px;
	display: grid;
	grid-template-columns: 8fr 5fr;
	box-shadow: 5px 5px 10px 3px rgba(6, 6, 6, 0.576);
}
.recipe-header {
	display: flex;
	justify-content: space-between;
}
a:hover {
	background-color: rgb(178, 159, 136);
}
.index-img {
	padding: 20px;
	max-width: 80%;
	align-items: right;
	justify-content: center;
	border-radius: 40px;
}
.grid-left {
	color: bisque;
	margin: 20px 0px 0px 20px;
}
.desc-content {
	margin-top: 10px;
}

// recipe show -----

.show-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	background-color: rgb(59, 59, 59);
	min-height: 95vh;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	color: bisque;
	overflow: hidden;
}
.img-show {
	max-width: 75%;
	border-radius: 10px;
}
.lower-grid {
	width: 75%;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.lower-left,
.lower-right {
	margin-top: -15px;
}
.recipe-list,
.recipe-instructions {
	margin-left: 80px;
}
.buttons {
	display: flex;
}
.btn:hover {
	background-color: rgba(49, 49, 49, 0.713);
}
.likes-container {
	display: flex;
	width: 75%;
	justify-content: flex-end;
	padding-bottom: 0px;
	height: 50px;
}
.like-btn {
	background-color: bisque;
	color: rgba(49, 49, 49, 0.713);
	padding: 8px 8px 4px 8px;
}
.like-btn:hover {
	color: bisque;
	cursor: pointer;
}
.likes-counter {
	margin-top: 5px;
	padding-right: 15px;
}
.counter-number {
	display: flex;
	align-items: center;
	padding-right: 45px;
}
//  form ---
input {
	width: 97%;
	margin: 4px;
	padding: 4px;
	border: 2px solid black;
	font-size: 15px;
}
input[type="submit"] {
	width: fit-content;
	margin-top: 5px;
}
.form-content {
	border-radius: 20px;
}
.about-input-field {
	height: 150px;
	word-wrap: break-word;
	word-break: break-all;
	width: 97%;
	margin: 4px;
	padding: 4px;
	border: 2px solid black;
	font-size: 15px;
}
// profile grid
.profile-grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto;
	background-color: rgb(59, 59, 59);
	min-height: 90vh;
}
.user-recipes {
	width: 75%;
	margin-left: 12.5%;
	grid-column-start: 1;
	grid-column-end: 3;
}
.grid-right {
	display: flex;
	justify-content: flex-end;
}
.profile-image {
	margin: 20px;
	max-height: 200px;
	aspect-ratio: 1;
	border-radius: 10px;
}
.profile-header {
	display: flex;
	justify-content: space-between;
}
.timestamp {
	font-size: 13px;
}
.user-bio {
	width: 90%;
}
// comment
.comment-container {
	background-color: rgb(59, 59, 59);
	width: 75%;
}

.comment {
	min-height: 100px;
	background-color: bisque;
	border-radius: 8px;
	background-color: rgb(59, 59, 59);
	border: 1px solid bisque;
	padding: 8px;
	box-shadow: 5px 5px 10px 3px rgba(6, 6, 6, 0.576);
}

.comment-header {
	display: flex;
	justify-content: space-between;
}
.buttons-container {
	display: flex;
}
.recipe-content:hover {
	transform: scale(1.03);
	transition: 0.5s;
}
.comment-timestamp {
	text-align: right;
	position: relative;
	top: 25px;
}

// @media (max-width: 600px) {
// 	body {
// 		font-size: 200%;
// 	}
// 	a {
// 		max-width: 95%;
// 	}
// }
