// all base css
* {
	margin: 0;
	padding: 0;
	font-family: "Anek Odia", sans-serif;
}
.material-icons-outlined {
	font-family: "Material Icons";
	font-size: 35px;
}
textarea {
	resize: none;
}
body.dark {
	max-width: 950px;
	margin: 0 auto;
	background-color: rgb(59, 59, 59);
}
h1,
h2,
h3,
p {
	color: bisque;
}
// navigation ------
.navigation {
	display: flex;
	background-color: bisque;
	height: 50px;
	width: 100%;
	justify-content: space-between;
}

.nav-btns,
.session-btns {
	display: flex;
	align-items: center;
}
.session-btns {
	margin-right: 8px;
}
.btn {
	display: flex;
	align-items: center;
	text-decoration: none;
	background-color: rgba(33, 32, 32, 0.845);
	color: bisque;
	padding: 8px;
	padding-bottom: 4px;
	margin-left: 8px;
	border-radius: 8px;
	border: none;
}
.search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
}
.recipe_search {
	display: flex;
	margin-left: 30%;
}
// owner nav
.owner-nav {
	display: flex;
	background-color: bisque;
	height: 50px;
	width: 100%;
	justify-content: right;
}
a {
	text-decoration: none;
	background-color: bisque;
	color: rgba(14, 14, 14, 0.845);
	padding: 5px;
	padding-bottom: 0px;
	border-radius: 10px;
}
// recipe buttons
.secondary-nav {
	min-width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
// homepage feature
.feature {
	width: 90%;
	display: flex;
	justify-content: center;
}
.homepage-img {
	max-width: 100%;
	max-height: 80vh;
	z-index: 999;
	border-radius: 20px;
}

.feature:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

// main content container
.container-main {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// recipes index ----
.recipe-content {
	background-color: rgb(59, 59, 59);
	width: 90%;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 15px;
	display: grid;
	grid-template-columns: 8fr 5fr;
	box-shadow: 5px 5px 10px 3px rgba(6, 6, 6, 0.576);
}
.recipe-header {
	display: flex;
	justify-content: space-between;
}

.recipe-owner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
}
a:hover {
	background-color: rgb(178, 159, 136);
}
.index-img {
	padding: 20px;
	max-width: 80%;
	align-items: right;
	justify-content: center;
	border-radius: 40px;
}
.recipe-timestamp {
	text-align: center;
	position: relative;
	top: -25px;
}
.right {
	margin-bottom: -20px;
}
.grid-left {
	color: bisque;
	margin: 20px 0px 0px 20px;
}
.desc-content {
	margin-top: 10px;
}

// recipe show -----

.show-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	background-color: rgb(59, 59, 59);
	min-height: 95vh;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	color: bisque;
	overflow: hidden;
}
.img-show {
	max-width: 75%;
	border-radius: 10px;
}
.lower-grid {
	width: 75%;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.lower-left,
.lower-right {
	margin-top: -15px;
}
.recipe-list,
.recipe-instructions {
	margin-left: 80px;
}
.buttons {
	display: flex;
}
.btn:hover {
	background-color: rgba(49, 49, 49, 0.713);
}
.likes-container {
	display: flex;
	width: 75%;
	justify-content: flex-end;
	padding-bottom: 0px;
	height: 50px;
}
.like-btn {
	background-color: bisque;
	color: rgba(49, 49, 49, 0.713);
	padding: 8px 8px 4px 8px;
}
.like-btn:hover {
	color: bisque;
	cursor: pointer;
}
.likes-counter {
	margin-top: 5px;
	padding-right: 15px;
}
.counter-number {
	display: flex;
	align-items: center;
	padding-right: 45px;
}
//  form ---
input {
	width: 97%;
	margin: 4px;
	padding: 4px;
	border: 2px solid bisque;
	font-size: 15px;
	border-radius: 6px;
}
input[type="submit"] {
	width: fit-content;
	margin-top: 5px;
}
.form-content {
	border-radius: 20px;
}
.about-input-field {
	height: 150px;
	word-wrap: break-word;
	word-break: break-all;
	width: 97%;
	margin: 4px;
	padding: 4px;
	border: 2px solid bisque;
	border-radius: 6px;
	font-size: 15px;
}
// profile grid
.profile-grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto;
	background-color: rgb(59, 59, 59);
	min-height: 90vh;
}
.user-recipes {
	width: 75%;
	margin-left: 12.5%;
	grid-column-start: 1;
	grid-column-end: 3;
}
.grid-right {
	display: flex;
	justify-content: flex-end;
}
.profile-image {
	margin: 20px;
	max-height: 200px;
	aspect-ratio: 1;
	border-radius: 10px;
}
.profile-header {
	display: flex;
	justify-content: space-between;
}
.timestamp {
	font-size: 13px;
}
.user-bio {
	width: 90%;
}
// comment
.comment-container {
	background-color: rgb(59, 59, 59);
	width: 75%;
}

.comment {
	min-height: 100px;
	background-color: bisque;
	border-radius: 8px;
	background-color: rgb(59, 59, 59);
	border: 1px solid bisque;
	padding: 8px;
	box-shadow: 5px 5px 10px 3px rgba(6, 6, 6, 0.576);
}

.comment-header {
	display: flex;
	justify-content: space-between;
}
.buttons-container {
	display: flex;
}
.recipe-content:hover {
	transform: scale(1.03);
	transition: 0.5s;
}
.comment-timestamp {
	text-align: right;
	position: relative;
	top: 25px;
}
button:hover {
	cursor: pointer;
}
body.light {
	.profile-grid,
	.show-content,
	.comment,
	.comment-container,
	.recipe-content,
	.grid-left {
		background-color: aliceblue;
		color: rgb(59, 59, 59);
	}
	h1,
	h2,
	h3,
	p,
	.user-bio,
	.desc-content {
		color: rgb(59, 59, 59);
	}
	p.desc-content {
		color: rgb(59, 59, 59);
	}
	max-width: 950px;
	margin: 0 auto;
	background-color: aliceblue;
	color: black;
	a,
	.btn {
		color: rgb(59, 59, 59);
		background-color: bisque;
	}
	div.navigation,
	div.owner-nav {
		background-color: aliceblue;
	}
	.btn:hover {
		background-color: rgba(49, 49, 49, 0.713);
		color: bisque;
		cursor: pointer;
	}
	button:hover {
		cursor: pointer;
	}
}
@media (orientation: portrait) {
	.btn {
		font-size: 1.8vh;
	}
	.navigation,
	.owner-nav {
		height: 100px;
	}
	.recipe-header > h3 {
		max-width: 120%;
	}
	.navigation {
		justify-content: center;
	}

	.recipe-content {
		width: 100%;
	}
	body {
		font-size: 1.8vh;
	}
	.counter-number {
		margin-top: 55px;
	}
	.recipe-owner {
		visibility: hidden;
	}
	.profile-grid {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		.profile-image {
			max-height: 400px;
			max-width: 400px;
		}
		.grid-left {
			width: 100%;
		}
		.user-recipes {
			display: flex;
			margin-left: 0px;
			flex-direction: column;
			width: 100%;
		}
		.recipe-content {
			width: 100%;
		}
	}
	.search {
		width: 100%;
		justify-content: space-around;
	}
	.search > h1 {
		margin-top: 30px;
	}
	.recipe_search {
		width: 500px;
		margin-left: 0;
	}
	form > input,
	.about-input-field {
		font-size: 2vh;
	}
	.comment-timestamp {
		top: 0;
	}
	.secondary-nav {
		flex-direction: column;
	}
	.img-show {
		margin: 10px 0px;
	}
	.show-content > * {
		width: 95%;
	}
	.show-content > .btn {
		width: fit-content;
		margin: 0;
	}
	.recipe-timestamp {
		font-size: 10px;
	}
}
